---
export interface Props {}
---

<form class="pt-8 flex items-center">
	<label for="voice-search" class="sr-only">Search</label>
	<div class="relative w-full">
		<div
			class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
		>
			<svg
				aria-hidden="true"
				class="w-5 h-5 text-gray-500 dark:text-gray-400"
				fill="currentColor"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg"
				><path
					fill-rule="evenodd"
					d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
					clip-rule="evenodd"></path>
			</svg>
		</div>
		<input
			type="text"
			id="voice-search"
			class="p-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
			placeholder="Shopping cart, Calendar, Home, search..."
			required
		/>
		<button
			type="button"
			class="absolute inset-y-0 right-0 flex items-center pr-3"
		>
		</button>
	</div>
	<button
		type="submit"
		class="inline-flex items-center py-4 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
	>
		Search
	</button>
</form>

<div class="mt-8 grid grid-cols-4 gap-4">
	<div class="w-full h-full">

	<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512">
	<path d="M0 0 C168.96 0 337.92 0 512 0 C512 168.96 512 337.92 512 512 C343.04 512 174.08 512 0 512 C0 343.04 0 174.08 0 0 Z " fill="#FCFDFC" transform="translate(0,0)"/>
	<path d="M0 0 C15.71441609 9.89426198 26.57055867 33.97409152 32 51 C32.51483636 52.31643608 33.03324458 53.63147928 33.5546875 54.9453125 C38.20953379 67.30685794 37.18288141 81.71581383 37.1875 94.75 C37.18899551 95.86926376 37.18899551 95.86926376 37.19052124 97.01113892 C37.18890606 107.71403202 37.07789776 118.45771314 35.56103516 129.0715332 C35.12450126 132.12869709 35.08299603 134.03271358 36 137 C38.63807659 140.40917268 41.93106239 143.09883177 45.27734375 145.78515625 C48 148 48 148 49 150 C49.56438137 159.21822912 46.52735558 168.0834748 44.0625 176.875 C43.81048828 177.81085938 43.55847656 178.74671875 43.29882812 179.7109375 C43.04681641 180.608125 42.79480469 181.5053125 42.53515625 182.4296875 C42.312229 183.23647949 42.08930176 184.04327148 41.85961914 184.87451172 C40.90442293 187.23632319 40.0051893 188.44051085 38 190 C32.85166878 190.6435414 32.85166878 190.6435414 30.41552734 188.80273438 C28.63678634 186.53743193 28.08762754 184.56333453 27.3515625 181.78125 C27.06796875 180.76675781 26.784375 179.75226563 26.4921875 178.70703125 C25.91459145 176.57096659 25.34425904 174.43292442 24.78125 172.29296875 C24.49507813 171.27847656 24.20890625 170.26398438 23.9140625 169.21875 C23.5420874 167.8255957 23.5420874 167.8255957 23.16259766 166.40429688 C21.31808871 162.58978111 18.31154675 161.49488487 14.484375 160.05078125 C0.35061512 156.23466608 -16.07032387 156.3411729 -29.44140625 162.70703125 C-34.19693817 166.65209658 -34.03550622 174.7357084 -34.92578125 180.40625 C-36.17331132 184.57980514 -37.5856725 186.3404719 -41 189 C-44.8125 189.3125 -44.8125 189.3125 -48 189 C-51.52090527 182.67888649 -53.23284232 176.68780739 -54.6875 169.625 C-55.10600401 167.65841275 -55.52647737 165.69224323 -55.94921875 163.7265625 C-56.12799561 162.86627441 -56.30677246 162.00598633 -56.4909668 161.11962891 C-56.92454529 158.96258469 -56.92454529 158.96258469 -58 157 C-58.3592276 153.19218744 -58.49403694 150.82339489 -56.5 147.5 C-47.5 138.5 -47.5 138.5 -43 137 C-43.06058594 136.41661865 -43.12117187 135.8332373 -43.18359375 135.23217773 C-44.66403321 120.37226662 -45.21884642 105.6102437 -45.25 90.6875 C-45.25749268 89.44067947 -45.25749268 89.44067947 -45.26513672 88.16867065 C-45.32895768 75.23615014 -44.72563344 62.72934414 -40.5 50.375 C-40.24500732 49.62702148 -39.99001465 48.87904297 -39.72729492 48.10839844 C-34.34716188 33.06340253 -26.33988444 20.09295747 -16 8 C-15.35417969 7.21496094 -14.70835937 6.42992188 -14.04296875 5.62109375 C-9.80657726 0.51887043 -6.73073025 -1.19356642 0 0 Z " fill="#040404" transform="translate(266,82)"/>
	<path d="M0 0 C0.03555307 4.3347743 -0.00670076 8.66551483 -0.0625 13 C-0.05154297 14.22074219 -0.04058594 15.44148437 -0.02929688 16.69921875 C-0.14231405 22.67298379 -0.22612364 26.92103226 -4.32421875 31.49609375 C-5.54592872 32.6677758 -6.77087264 33.83610137 -8 35 C-10.10624469 38.0710494 -10.10624469 38.0710494 -11.75 41.0625 C-12.30171875 42.02285156 -12.8534375 42.98320312 -13.421875 43.97265625 C-23.35051972 63.01894254 -23.82328852 86.62071216 -17.48828125 106.9140625 C-15.69410211 112.10829994 -13.22566921 116.55957495 -10 121 C-8.99457933 122.47548748 -7.99459634 123.9546945 -7 125.4375 C-6.505 126.17355469 -6.01 126.90960938 -5.5 127.66796875 C-0.12871171 136.01864351 3.83906911 144.98464973 8 154 C52.055 154.495 52.055 154.495 97 155 C97.66 152.03 98.32 149.06 99 146 C102.30377859 137.49500241 107.48952875 130.01616816 112.6328125 122.54296875 C116.6706059 116.57490916 119.6256741 110.92137056 121.6875 104 C121.89955078 103.32710938 122.11160156 102.65421875 122.33007812 101.9609375 C128.19912472 82.78007859 125.07895651 62.06861739 117 44 C113.95032071 38.7171884 110.78617393 33.65951326 106.30078125 29.4921875 C102.36562785 24.82908347 103.21566063 18.40105901 103.1875 12.625 C103.16236328 11.41199219 103.13722656 10.19898438 103.11132812 8.94921875 C103.0525998 5.9658196 103.0162133 2.98388307 103 0 C107.46040935 0.86332436 109.9813404 3.38220747 113.1875 6.4375 C114.05024536 7.25166382 114.05024536 7.25166382 114.93041992 8.08227539 C133.31570905 25.61052522 146.321604 47.53475612 147.203125 73.49609375 C147.37491757 84.40161822 146.60426814 94.39043806 144 105 C143.74476563 106.09441406 143.48953125 107.18882812 143.2265625 108.31640625 C139.91797516 120.68566624 132.95534023 131.2559082 125.75 141.6875 C121.323355 148.10314711 118.47041372 154.58875883 116 162 C113.86194127 168.23600464 111.0233657 171.98831715 105 175 C103.56700997 175.10023814 102.12950941 175.13938166 100.69303894 175.14717102 C99.33666069 175.15790398 99.33666069 175.15790398 97.95288086 175.16885376 C96.95804688 175.17154266 95.96321289 175.17423157 94.93823242 175.17700195 C93.89258621 175.18357315 92.84694 175.19014435 91.76960754 175.19691467 C88.29822728 175.21667724 84.82689032 175.22831638 81.35546875 175.23828125 C80.17202692 175.24235678 78.98858509 175.2464323 77.76928139 175.25063133 C71.50658974 175.27150389 65.2439201 175.28580095 58.98120117 175.29516602 C52.50444165 175.30623775 46.02802502 175.34064347 39.55138683 175.38033772 C34.57830658 175.40645074 29.6053087 175.4148531 24.63216591 175.41844749 C22.2443135 175.42332656 19.85646509 175.43497781 17.46867943 175.45348549 C14.12882488 175.477765 10.78986647 175.47693209 7.44995117 175.4699707 C5.96680923 175.48918579 5.96680923 175.48918579 4.45370483 175.50878906 C0.11662847 175.47579303 -2.31404487 175.42466521 -6.06742859 173.10099792 C-8.00532558 170.99421029 -9.23167013 169.21333812 -10.4375 166.625 C-11.06978516 165.2946875 -11.06978516 165.2946875 -11.71484375 163.9375 C-12.58208499 161.95523431 -13.40694251 159.95395761 -14.19140625 157.9375 C-17.20209769 150.31640645 -20.88619905 143.85830453 -25.4375 137.0625 C-40.9728269 113.68177828 -47.43986049 87.83875895 -41.89453125 59.72265625 C-36.639183 36.7871984 -24.04624593 14.59430415 -4.203125 1.09765625 C-2 0 -2 0 0 0 Z " fill="#040404" transform="translate(210,150)"/>
	<path d="M0 0 C1.30383133 -0.01073296 1.30383133 -0.01073296 2.63400269 -0.02168274 C4.07554214 -0.02571609 4.07554214 -0.02571609 5.54620361 -0.02983093 C6.55268951 -0.03640213 7.55917542 -0.04297333 8.59616089 -0.04974365 C11.94311589 -0.06953249 15.2900259 -0.08115211 18.63702393 -0.09111023 C19.77725258 -0.09518576 20.91748123 -0.09926128 22.09226227 -0.10346031 C28.12801433 -0.12434564 34.1637435 -0.13863625 40.19952393 -0.147995 C46.44202864 -0.15906003 52.68417695 -0.19345434 58.92655563 -0.23316669 C63.71863478 -0.25928505 68.51062845 -0.26768263 73.30277252 -0.27127647 C75.60410212 -0.27615539 77.90542758 -0.28780623 80.20668793 -0.30631447 C83.42691932 -0.33060196 86.64622161 -0.32975949 89.86651611 -0.32279968 C90.8194455 -0.33560974 91.77237488 -0.3484198 92.75418091 -0.36161804 C97.02408044 -0.32794468 99.33593662 -0.24330993 103.03381348 2.05154419 C106.43517288 5.74224434 106.14035292 8.92043012 106.16827393 13.71748352 C106.173974 14.47254181 106.17967407 15.2276001 106.18554688 16.00553894 C106.19500309 17.60774839 106.20153332 19.20997735 106.2053833 20.81221008 C106.21502887 23.2419283 106.24601973 25.67077859 106.27764893 28.10029602 C106.28418531 29.66018685 106.28943328 31.22008372 106.29327393 32.77998352 C106.30562073 33.4980014 106.31796753 34.21601929 106.33068848 34.95579529 C106.28384649 45.78273862 100.99017468 52.23149474 93.54718018 59.62031555 C84.74808242 68.1125312 84.74808242 68.1125312 79.96514893 71.14717102 C77.61749268 70.90888977 77.61749268 70.90888977 75.96514893 70.14717102 C75.65577393 71.72498352 75.65577393 71.72498352 75.34014893 73.33467102 C74.63803616 76.91544614 72.56775664 78.81052415 69.77932739 81.06732178 C66.59345728 82.96363986 63.2316317 82.7999369 59.64483643 82.70576477 C58.86375519 82.70343338 58.08267395 82.70110199 57.27792358 82.69869995 C55.63563023 82.68900125 53.99336836 82.66730366 52.35137939 82.63423157 C49.84062085 82.58468033 47.33182193 82.57273881 44.82061768 82.5670929 C43.22033645 82.55301039 41.62007219 82.53680723 40.01983643 82.51826477 C38.89785355 82.51022072 38.89785355 82.51022072 37.75320435 82.50201416 C34.04506386 82.41745375 31.05285184 82.32563791 27.96514893 80.14717102 C26.48077393 77.83467102 26.48077393 77.83467102 25.21514893 75.14717102 C24.78718018 74.26029602 24.35921143 73.37342102 23.91827393 72.45967102 C22.96514893 70.14717102 22.96514893 70.14717102 22.96514893 68.14717102 C20.49014893 69.13717102 20.49014893 69.13717102 17.96514893 70.14717102 C-4.93500113 48.10458553 -4.93500113 48.10458553 -5.277771 35.90180969 C-5.28415371 34.28959368 -5.27946468 32.67730637 -5.26531982 31.06513977 C-5.26463249 29.78296318 -5.26463249 29.78296318 -5.26393127 28.47488403 C-5.26092335 26.67886455 -5.25308105 24.88284734 -5.24066162 23.08686829 C-5.22229523 20.32627733 -5.22015289 17.5660201 -5.22039795 14.80537415 C-5.21548638 13.05862643 -5.20965965 11.311881 -5.20281982 9.56513977 C-5.201707 8.73604599 -5.20059418 7.90695221 -5.19944763 7.05273438 C-5.14059187 0.02892398 -5.14059187 0.02892398 0 0 Z " fill="#020202" transform="translate(212.03485107421875,335.8528289794922)"/>
	<path d="M0 0 C6.90013182 2.48957985 10.19137969 11.5723728 13.453125 17.75390625 C23.91873137 40.5066644 25.7392487 68.98428746 19 93 C18.66851543 94.31295846 18.34053256 95.62680479 18.015625 96.94140625 C16.36292817 103.49057295 14.38246629 109.64675656 12 116 C5.07 116 -1.86 116 -9 116 C-21.71520405 84.86967285 -25.23838287 51.725188 -12.25 19.9375 C-9.06636251 12.54280589 -5.21443565 6.17134006 0 0 Z " fill="#FAFBFA" transform="translate(261,110)"/>
	</svg> -->
	
	</div>
	<div>01</div>
	<div>01</div>
	<div>01</div>
</div>

<style>
</style>
