---
import SearchLoader from './SearchLoader.astro';
export interface Props {}
---
<div class="pt-8 flex items-center min-w-756px group">
  <label for="search" class="absolute top-0 left-0">Generate unique SVG using AI</label>
  <div class="relative w-full">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-gray-500 dark:text-gray-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <input
      type="text"
      id="search"
      class="p-4 pl-10 w-full bg-#0D0C0F hover:bg-#0D0C0F/60 border-0 ring-4 ring-#0D0C0F/10 transition-all duration-600 outline-none focus:ring-4 text-white/80 text-sm rounded-lg focus:aspect-none focus:border-#0D0C0F/40 focus:ring-0 focus:shadow-lg focus:shadow-#847996/80 transition transition-all duration-600"
      placeholder="Shopping cart, Calendar, Home, Search..."
      required
    />
    <button
      type="button"
      class="absolute inset-y-0 right-0 flex items-center pr-3"
    >
    </button>
  </div>
  <button
    id="button"
		type="button"
    class="relative inline-flex text-white/70 items-center ring-4 ring-#0D0C0F/60 bg-#0D0C0F/20 hover:ring-white hover:bg-white/95 hover:shadow-xl hover:shadow-#847996 justify-center px-8 py-3 ml-2 overflow-hidden text-md font-bold hover:text-black rounded-4 transition-all duration-600"
  >
    Generate
  </button>
</div>

<div id="loader" class="hidden">
  <SearchLoader/>
</div>
<div id="results" class="mt-8 grid grid-cols-4 gap-4">
</div>

<script>
import { fetchIconsFromPrompt } from "../services/generate";

const button = document.getElementById("button");
const input = document.getElementById("search") as HTMLInputElement;
const results = document.getElementById("results");
const loader = document.getElementById("loader");
var generatedSvg = [];

input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    button.click();
  }
});

button.addEventListener("click", () => fetchAndDisplay(input.value));

const fetchAndDisplay = async (prompt: string) => {
  loader.classList.remove("hidden");
  generatedSvg = await fetchIconsFromPrompt(prompt);
  loader.classList.add("hidden");
  results.innerHTML = '';
  generatedSvg.map((url) => results.innerHTML += '<div class="w-full h-full"><img src="' + url + '"/></div>');
};
</script>

<style>
  .bg-dark {
    background-color: #1f2027;
  }
</style>
